$base_font_family: 'Mulish', sans-serif;
$color_main: white;
$background_color_main: #8f57fd;

body {
  margin: 0;
  background-color: $background_color_main;
  font-family: $base_font_family;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;

  @extend .flex;
  justify-content: space-between;
  padding: 10px;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 30px;
  text-align: right;
}

.header__menu ul {
  list-style: none;
  display: none;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0;
}

.header__menu li a {
  color: $color_main;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  display: flex;
  align-items: center;
}

.header__menu--profile img {
  width: 50px;
  height: 50px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  filter: invert(1);
}

details summary {
  list-style: none;
}

.main {
  height: 300px;
}

.main__title {
  color: $color_main;
  font-size: 25px;
}

.input {
  border: 2px solid white;
  border-radius: 25px;
  color: $color_main;
  font-family: $base_font_family;
  font-size: 16px;
  height: 30px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 70%;
  outline: none;
}

.input::placeholder {
  color: $color_main;
}

.login {
  background: linear-gradient(#21c08b, #ab88ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  min-height: calc(100vh - 200px);
  /* margin: 0; */
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: $color_main;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: $color_main;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: $color_main;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media div img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  font-size: 16px;
  color: $color_main;
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: $base_font_family;
  margin-bottom: 20px;
  padding: 20px 0;
  outline: none;
  border-radius: 0;
}
::placeholder {
  color: $color_main;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: $color_main;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: $base_font_family;
  height: 50px;
  margin: 10px 0;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: $color_main;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
    /* margin-top: 10px; */
  }
  .footer a {
    margin-top: 10px;
  }
}
